"*":
  "exception-reporting":
    userId: "6a209b64-3a2a-a4cc-a7a8-2786cdb4a637"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    disabledPackages: [
      "seti-icons"
      "linter"
    ]
    ignoredNames: [
      "node_modules"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    tabLength: 4
  react: {}
  "file-icons":
    forceShow: true
  autosave:
    enabled: true
  "git-blame": {}
  "one-dark-ui": {}
  "merge-conflicts": {}
  "tree-view": {}
  "atom-beautify":
    _analyticsUserId: "4b28bbe7-a5cf-4edf-a711-44be6188ca96"
  linter: {}
